.aside {
  position: fixed;
  left: 0;
  top: 0;
  background: var(--body-color);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  padding: 2.5rem;
  width: 110px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}
.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.nav__link i {
  transition: 0.3s;
}
.nav__link {
  font-size: 1.5rem;
  color: var(--title-color);
  font-weight: var(--fony-bold);
}
.nav__item:hover .nav__link i {
  color: hsl(43, 100%, 66%);
}
.cobyright {
  color: hsl(245, 15%, 65%);
  font-size: var(--small-font-size);
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
}

.nav__toggle {
  position: fixed;
  top: 1.25rem;
  left: 1.4rem;
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-color: var(--body-color);

  box-shadow: 2px 2px 4px 0px #00000054;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.3s;
}

@media screen and (max-width: 1024px) {
  .aside {
    left: -110px;
  }
  .nav__toggle {
    display: flex;
  }
  .nav__toggle-open {
    left: 110px;
  }
  .show-menu {
    left: 0;
  }
}
